<div data-role="appbar" data-expand-point="md">
        <a href="{{ url_for('index') }}" class="brand fg-blue no-hover">
            <p><strong class="fg-red">Cuban </strong> OpenSource<p>
        </a>

        <ul class="app-bar-menu">
            <a class="app-bar-item fg-blue" href="{{ url_for('developers') }}"><i class="fa fa-2x fa-users fg-blue"></i> Developers</a>
            <a class="app-bar-item fg-blue" href="{{ url_for('proyects') }}"><i class="fa fa-2x fa-code fg-blue"></i> Proyects</a>
        </ul>

</div>
